@import "../../settings.scss";

.post-card {
  height: auto;
  margin: 5px;

  @media only screen and (min-width: $screen-sm) {
    height: 450px;
  }

  @media only screen and (min-width: $screen-md) {
    height: 440px;
  }

  @media only screen and (min-width: $screen-lg) {
    height: 450px;
  }

  @media only screen and (min-width: $screen-xl) {
    height: 430px;
  }
}
