.post-description {
  width: 100%;
  float: left;
  margin: 10px 0;

  .label {
    float: left;
    font-size: 20px;
    padding-right: 5px;
    line-height: 22px;
    font-weight: 500;
  }

  .text {
    font-size: 15px;
  }
}
