@import "../../settings.scss";

.post-page {
  .layout {
    background-color: $lightBlueColor;
  }
  .content {
    background-color: $lightBlueColor;
    margin: 20px 40px;
  }
  .search {
    padding: 0 5px;
  }
}
