@import "../../settings.scss";

.post-page {
  .layout {
    background-color: $lightBlueColor;
  }
  .content {
    background-color: $lightBlueColor;
    padding: 20px 40px;
    @media only screen and (min-width: $screen-xl) {
      width: 1200px;
      margin: 0 auto;
    }
  }
  .search {
    padding: 0 5px;
  }
}
