@import "~antd/dist/antd.css";
$blueColor: #2196f3;

.ant-layout-header {
  background-color: $blueColor;
  align-items: left;
  font-size: 30px;
  color: white;
}

.ant-layout-content {
  margin: 20px 40px;
}
